.container {
  position: fixed;
  background-color: #f95959;
  z-index: 999;
  border-radius: 60px;
  width: 8%;
  height: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 20%;
}

.arrow {
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}
